/* CSS RESET */
*{
    margin: 0px;
    padding: 0px;
    background-color:rgb(252, 252, 252);
   
}
#navbar{
    border: 2px solid red;
    height: 600px;
    text-align: center;
   
   background-image: url(../content/background.jpg);
    
}

#container{
    
    border: 2px solid white;
    height: 80px;
    font-size: 20px;
    margin: 31px 215px;
    padding: 9px 42px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: black;
  
}
#container .img1 img{
    border: 2px solid white;
    width: 150px;
    height: 80px;
}
#container .containerA1 a{
    text-decoration: none;
    margin: 0px 170px 0px 0px ;
    padding: 0px 25px 0px 15px ;
    font-size: 30px;
    color: black;
}
#container .containerA2 a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}
    

#container .containerA3 a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}
#container .containerA4 a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}
#container .containerA5 a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}
#container .containerA6 a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}
    


#navbar .logo{
    margin: 30px 10px;
}
#navbar .logo h1{
    font-size: 80px;
    margin: 5px;
    padding: 10px;
}
#navbar .logo h2{
    font-size: 40px;
    margin: 10px 10px;
    padding: 10px 10px;
}
#navbar .logo input{
    margin: 10px 10px;
    padding: 10px 10px;
    height: 40px;
    width: 700px;
}
#navbar .logo input i{

}
#container1{
    border: 2px solid white;
    height: 400px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px 120px;
    /* box-shadow: 0px 0px 10px 1px black; */
}
#container1 .containerA{
     height: 350px;
     width: 600px;
     border: 2px solid white;
     margin: 10px 20px;
     text-align:end;
     font-size: 20px;
     box-shadow: 0px 0px 10px 1px black;
     /* transform: scale(0); */
     overflow: hidden;
}
#container1 .containerA img{
    width: 100%;
}

#container1 .containerA:hover{
    box-shadow: 0px 0px 8px 3px rgb(231, 31, 31);
    transform: scale(1) ;
}
#container1 .containerA:hover img{
    transform: scale(1.1);
}



#container1 .containerB{
     height: 350px;
     width: 600px;
     border: 2px solid white;
     margin: 10px 20px;
     text-align:right;
     font-size: 20px;
     box-shadow: 0px 0px 12px 1px black;
     /* transform: scale(0); */
     /* background-image: ; */
     overflow: hidden;
}
#container1 .containerB img{
    width: 100%;
}

#container1 .containerB:hover{
    box-shadow: 0px 0px 8px 3px rgb(231, 31, 31);
    transform: scale(1) ;
}
#container1 .containerB:hover img{
    transform: scale(1.1);
}


#container1 .containerC{
     height: 350px;
     width: 600px;
     border: 2px solid white;
     margin: 10px 20px;
     text-align:end;
     font-size: 20px;
     box-shadow: 0px 0px 12px 1px black;
     /* transform: scale(0); */
     overflow: hidden;
}
#container1 .containerC img{
    width: 100%;
}

#container1 .containerC:hover{
    box-shadow: 0px 0px 8px 3px rgb(231, 31, 31);
    transform: scale(1) ;
}
#container1 .containerC:hover img{
    transform: scale(1.1);
}
#container2{
    border: 2px solid white;
    height: 400px;
    margin: 10px 80px;
    box-shadow: 0px 0px 10px 1px black;
}
#container2 h1{
    position: absolute;
    font-size: 40px;
}
#container3{
    border: 2px solid white;
    height: 700px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin: 20px 80px;
    /* box-shadow: 0px 0px 10px 1px black; */

}
#container3 .containerA img{
    height: 400px;
    width: 300px;
    border: 2px solid white;
    margin: 120px 10px 10px 20px;
    box-shadow: 0px 0px 12px 1px black;
    overflow: hidden;
}
#container3 .containerA img:hover{
    box-shadow: 0px 0px 8px 3px rgb(231, 31, 31);
  transform: skew(5deg);
}
#container3 .containerB img{
    height: 400px;
    width: 300px;
    border: 2px solid white;
    margin: 120px 10px 10px 20px;
    box-shadow: 0px 0px 12px 1px black;
}
#container3 .containerB img:hover{
    box-shadow: 0px 0px 8px 3px rgb(231, 31, 31);
    transform: skew(5deg);
}
#container3 .containerC img{
    height: 400px;
    width: 300px;
    border: 2px solid white;
    margin: 120px 10px 10px 20px;
    box-shadow: 0px 0px 12px 1px black;
}
#container3 .containerC img:hover{
    box-shadow: 0px 0px 8px 3px rgb(231, 31, 31);
    transform: skew(5deg);
}
#container3 .containerD img{
   
    height: 400px;
    width: 300px;
    border: 2px solid white;
    margin: 120px 10px 10px 20px;
    box-shadow: 0px 0px 12px 1px black;
}
#container3 .containerD img:hover{
    box-shadow: 0px 0px 8px 3px rgb(231, 31, 31);
    transform: skew(5deg);
}
#container3 h1{
    position: absolute;
   margin: -336px 21px;
   font-size: 50px;
}
#container3 p{
    font-size: 30px;
    position: absolute;
    margin: -255px -10px;
}
#container4{
    border: 2px solid white;
    height: 900px;
    margin: 20px 185px ;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* box-shadow: 0px 0px 10px 1px black; */
}
#container4 .containerA1{
    height: 80px;
    width: 300px;
    border: 2px solid white;
    margin: 75px 10px 10px 20px;
    text-align: start;
    font-size: 20px;
    box-shadow: -10px -10px 12px 1px black;
}
#container4 .containerA1:hover{
    box-shadow: 0px 0px 8px 3px rgb(231, 31, 31);
    transform: translate(-5px,5px);
}

    
#container4 .containerA2{
    height: 80px;
    width: 300px;
    border: 2px solid white;
    margin: 75px 10px 10px 20px;
    text-align: start;
    font-size: 20px;
    box-shadow: -10px -10px 12px 1px black;
}
#container4 .containerA2:hover{
    box-shadow: 0px 0px 8px 3px rgb(231, 31, 31);
    transform: translate(-5px,5px);
}

#container4 .containerA3{
    height: 100px;
    width: 300px;
    border: 2px solid white;
    margin: 75px 10px 10px 20px;
    text-align: start;
    font-size: 20px;
    box-shadow: -10px -10px 12px 1px black;
}
#container4 .containerA3:hover{
    box-shadow: 0px 0px 8px 3px rgb(231, 31, 31);
    transform: translate(-5px,5px);
}

#container4 .containerA4{
    height: 100px;
    width: 250px;
    border: 2px solid white;
    margin: 75px 10px 10px 20px;
    text-align: start;
    font-size: 20px;
    box-shadow: -10px -10px 12px 1px black;
}
#container4 .containerA4:hover{
    box-shadow: 0px 0px 8px 3px rgb(231, 31, 31);
    transform: translate(-5px,5px);
}

#container4 .containerA5{
    height: 100px;
    width: 500px;
    border: 2px solid white;
    margin: 75px 10px 10px 20px;
    text-align: start;
    font-size: 30px;
    box-shadow: -10px -10px 12px 1px black;
}
#container4 .containerA5:hover{
    box-shadow: 0px 0px 8px 3px rgb(231, 31, 31);
    transform: translate(-5px,5px);
}
 

#container4 .containerA6{
    height: 100px;
    width: 500px;
    border: 2px solid white;
    margin: 75px 10px 10px 20px;
    text-align: start;
    font-size: 30px;
    box-shadow: -10px -10px 12px 1px black;
}
#container4 .containerA6:hover{
    box-shadow: 0px 0px 8px 3px rgb(231, 31, 31);
    transform: translate(-5px,5px);
}

#container4 .containerA7{
    height: 100px;
    width: 500px;
    border: 2px solid white;
    margin: 75px 10px 10px 20px;
    text-align: start;
    font-size: 30px;
    box-shadow: -10px -10px 12px 1px black;
}
#container4 .containerA7:hover{
    box-shadow: 0px 0px 8px 3px rgb(231, 31, 31);
    transform: translate(-5px,5px);
}

#container4 .containerA8{
    height: 100px;
    width: 500px;
    border: 2px solid white ;
    margin: 75px 10px 10px 20px;
    text-align: start;
    font-size: 30px;
    box-shadow: -10px -10px 12px 1px black;
}
#container4 .containerA8:hover{
    box-shadow: 0px 0px 8px 3px rgb(231, 31, 31);
    transform: translate(-5px,5px);
}

#container4 .containerA9{
    height: 100px;
    width: 500px;
    border: 2px solid white;
    margin: 75px 10px 10px 20px;
    text-align: start;
    font-size: 30px;
    box-shadow: -10px -10px 12px 1px black;
}
#container4 .containerA9:hover{
    box-shadow: 0px 0px 8px 3px rgb(231, 31, 31);

}
#container4 .containerA9 #ready{
    width: 300px;
    height: 60px;
    
}

#container4 h1{
    position: absolute;
    font-size: 50px;
}
#container5{
    border: 2px solid white;
    height: 700px;
    display: flex;
    margin: 10px 80px;
    justify-content:space-evenly;
    /* box-shadow: 0px 0px 10px 1px black; */
}

#container5 .containerA1{
    height: 600px;
    width: 700px;
    border: 2px solid white;
    margin: 45px -295px 0px 35px;
    box-shadow: 0px 0px 12px 1px black;
}
#container5 .containerA1 img{
    border: 2px solid white ;
    height: 550px;
    width: 600px;
    cursor: pointer;
}
#container5 .containerA2{
    height: 550px;
    width: 600px;
    border: 2px solid white;
    margin: 75px 50px 10px 20px;
    box-shadow: 0px 0px 12px 1px black;
}
#container5 .containerA2 h1{
     font-size: 45px;
     margin: 10px 10px;
     padding: 10px 10px;
}
#container5 .containerA2 p{
    font-size:20px ;
    margin: 10px 10px;
    padding: 10px 10px;


}
#container5 .containerA2 input{
    border: 2px solid white;
    font-size: 25px;
    color: rgb(0, 0, 0);
    width: 500px;
    height: 40px;
    margin: 10px 10px;
    padding: 10px 10px;
    background-color: rgb(230, 228, 228);

}
#container5 .containerA2 input:hover{
    border:2px solid blue ease-out;
    background-color: rgba(255, 0, 0, 0.859);
    color: white;
}
#container5 .containerA2 button{
    font-size: 20px;
    height: 50px;
    width: 200px;
    margin: 10px 10px;
    padding: 10px 10px;
   background-color:  rgba(255, 0, 0, 0.859);
   cursor: pointer;
}
#container5 .containerA2 button:hover{
    background-color: white;

}


#container5 .containerA2 .childcontainer{
    border: 2px solid white;
    display: flex;
    justify-content: space-around;
    height: 70px;
    width: 500px;
}
#container5 .containerA2 .childcontainer .childcontainerA1 img{
    border: 2px solid white;
    width: 200px;
    height: 70px;
    cursor: pointer;
}
#container5 .containerA2 .childcontainer .childcontainerA2 img{
    border: 2px solid white ;
    width: 200px;
    height: 70px;
    cursor: pointer;
}
#container6{
    border: 2px solid white;
    height: 600px;
    margin: 10px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 10px 1px black;
}
#container6 .containerA1{
    border: 2px solid white;
    border-radius: 10px;
    height: 70px;
    width: 800px;
   font-size: 30px;

}

#container6 .containerA2{
    border: 2px solid white;
    border-radius: 10px;
    height: 60px;
    width: 1000px;
    margin: 10px 10px 10px 80px;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;

}
#container6 .containerA2 .childcontainerA1{
    padding: 10px;
    font-size: 30px;

}
#container6 .containerA2 .childcontainerA2 button{
  margin: 10px;
height: 40px;
width: 50px;
font-size: 30px;
background-color: white;
border: 2px solid white;
box-shadow: 0px 0px 10px 1px black;
    
}
#container6 .containerA2 .childcontainerA2 button:hover{
    transform: rotate(90deg);
    

}
#container6 .containerA3{
    border: 2px solid white;
    border-radius: 10px;
    height: 60px;
    width: 1000px;
    margin: 10px 10px 10px 80px;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;

}
#container6 .containerA3 .childcontainerA1{
    padding: 10px;
    font-size: 30px;

}
#container6 .containerA3 .childcontainerA2 button{
  margin: 10px;
height: 40px;
width: 50px;
font-size: 30px;
background-color: white;
border: 2px solid white;
box-shadow: 0px 0px 10px 1px black;
    
}
#container6 .containerA3 .childcontainerA2 button:hover{
    transform: rotate(90deg);
    

}
#container6 .containerA4{
    border: 2px solid white;
    border-radius: 10px;
    height: 60px;
    width: 1000px;
    margin: 10px 10px 10px 80px;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;

}
#container6 .containerA4 .childcontainerA1{
    padding: 10px;
    font-size: 30px;

}
#container6 .containerA4 .childcontainerA2 button{
  margin: 10px;
height: 40px;
width: 50px;
font-size: 30px;
background-color: white;
border: 2px solid white;
box-shadow: 0px 0px 10px 1px black;
    
}
#container6 .containerA4 .childcontainerA2 button:hover{
    transform: rotate(90deg);
    

}
#container6 .containerA5{
    border: 2px solid white;
    border-radius: 10px;
    height: 60px;
    width: 1000px;
    margin: 10px 10px 10px 80px;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;

}
#container6 .containerA5 .childcontainerA1{
    padding: 10px;
    font-size: 30px;

}
#container6 .containerA5 .childcontainerA2 button{
  margin: 10px;
height: 40px;
width: 50px;
font-size: 30px;
background-color: white;
border: 2px solid white;
box-shadow: 0px 0px 10px 1px black;
    
}
#container6 .containerA5 .childcontainerA2 button:hover{
    transform: rotate(90deg);
    

}
#container7{
    border: 2px solid white;
    background-color: rgb(226, 219, 219);
    height: 800px;
    /* display: flex;
    justify-content: space-around; */
    box-shadow: 0px 0px 10px 1px black;
    
}
#container7 .container01{
    border: 2px solid white;
    margin: 35px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
#container7 .container01 h1{
    position: absolute;
    font-size: 30px;
}
#container7 .containerA1{
    border: 2px solid white;
    height: 400px;
    width: 300px;
    margin: 50px 10px 10px 100px;
    padding: 10px -1px 0px 0px ;
    font-size: 15px;
    
}
#container7 .containerA1 ul{
    list-style: none;
    margin: 30px;
    font-size: 12px;
}
#container7 .containerA1 :hover{
    text-decoration: underline;
    color: solid black;
}   
    
#container7 .containerA1 ul li{
    margin: 10px;
}
#container7 .containerA2{
    border: 2px solid white;
    height: 400px;
    width: 250px;
    margin: 50px 10px 10px 100px;
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    
}
#container7 .containerA2 :hover{
    text-decoration: underline;
    color: solid black;
}   
#container7 .containerA2 ul{
    list-style: none;
    margin: 30px ;
    font-size: 12px;
    
}
#container7 .containerA2 ul li{
    margin: 10px;
}
#container7 .containerA3{
    border: 2px solid white ;
    height: 400px;
    width: 250px;
    margin: 50px 10px 10px 100px;
    font-size: 15px;
    
}
#container7 .containerA3 :hover{
    text-decoration: underline;
    color: solid black;
}   
#container7 .containerA3 ul{
    list-style: none;
    margin: 30px;
    font-size: 10px;
    
}
#container7 .containerA3 ul li{
    margin: 10px;
}
#container7 .containerA4{
    border: 2px solid white;
    height: 400px;
    width: 150px;
    margin: 50px 10px 10px 100px;
    font-size: 15px;
    
}
#container7 .containerA4 :hover{
    text-decoration: underline;
    color: solid black;
}   
#container7 .containerA4 ul{
    list-style: none;
    margin: 30px;
    font-size: 10px;
    
}
#container7 .containerA4 ul li{
    margin: 10px;
}
#container7 .containerA5{
    border: 2px solid white;
    height: 400px;
    width: 350px;
    margin: 50px 10px 10px 100px;
    font-size: 15px;
    
   
}
#container7 .containerA5 #link{
    display: flex;
    margin: 20px 10px;
    justify-content: space-around;
    width: 350px;
}
#container7 .containerA5 #link .link1 img{
    border: 2px solid  white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
#container7 .containerA5 #link .link2 img{
    border: 2px solid white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
#container7 .containerA5 #link .link3 img{
    border: 2px solid white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
#container7 .containerA5 #link .link4 img{
    border: 2px solid white ;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
#container7 .containerA5 #link .link5 img{
    border: 2px solid white ;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
#container7 .containerA5 ul{
    border: 2px solid white;
    list-style: none;
    margin: 50px;
    width: 260px;
}
#container7 .containerA5 ul .item1 img{
    border: 2px solid white;
    height: 60px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    
}
#container7 .containerA5 ul .item2 img{
    border: 2px solid white;
    height: 60px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    
    
}
#container7 p{
    margin: 20px;
    font-size: 20px;
    background-color: rgb(226, 219, 219);
}



